<app-navbar></app-navbar>
<div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="image">
                    <img src="#">
                </div>
            </div>
            <div class="col-md-3">
                <h3>Description:</h3>
                <p>Magicbricks is India's No.1 online Property marketplace to buy, sell, and rent residential and commercial properties.
                    <br> Adjudged as the most preferred real estate portal in India by various independent surveys, Magicbricks offers a one-stop destination for all Property needs.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h5 class=" " id="name">Name :</h5> 
               <h5 class=" " id="email">Email : :</h5> 
               <h5 class=" " id="phone">Phone :</h5> 
               <h5 class=" " id="address">Address :</h5> 
          
            </div>
        </div>
    </div>
    