
<app-navbar></app-navbar>
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user-dashboard-profile">

                        <!-- User Name -->
                        <h5 class="text-center">Usename</h5>
                        <p>Joined Date</p>
                        <a href="user-profile.html" class="btn btn-main-sm">Profile</a>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                        <ul>
                            <li class="active">
                                <a href="dashboard-my-ads.html"><i class="fa fa-user"></i> My Ads</a></li>
                            <li>
                                <a href="dashboard-favourite-ads.html"><i class="fa fa-bookmark-o"></i> Responses
                                    <span>5</span></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-power-off"></i>Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">My Ads</h3>

                    <div class="product-details"></div>
                    <h3 class="title">TITLE</h3>
                    <div>
                        <img width="80px" height="auto" src="images/products/products-1.jpg" alt="image description">
                    </div>
                    <span><strong>Description:</strong> Description of the advertisement.</span>
                    <div> <span><strong>Posted on: </strong><time>Date</time> </span></div>
                    <div> <span class="status active"><strong>Status</strong>Active</span></div>
                    <div><span class="location"><strong>Location</strong>City/Country</span></div>

                    <div class="product-category"><span class="categories">Category</span></div>
                    <div class="action" data-title="Action">
                        <div class="">
                            <ul class="list-inline justify-content-center">
                                <li class="list-inline-item">
                                    <a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view"
                                        href="">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="edit" href="">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="delete" href="">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- Row End -->
    
    <!-- Container End -->
</section>

